<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

@if (breakpointChanges) {
<div style="margin: 2em 0;">
  <h4>Breakpoint changes</h4>
  @for (change of breakpointChanges; track change) {

    <em>Name:</em> {{ change.name }}, <em>Media query:</em> {{ change.mediaQuery }}<br>
  
}
</div>
}

<div class="mat-elevation-z2 table-container">
  <mdt-dynamic-table [caption]="title"
                     [columns]="columns"
    [controlsPosition]="controlsPosition"
    [dataSource]="dataSource"
    [showFirstLastButton]="true"
    [showSearch]="showSearch"
    [stickyHeader]="true"
    [pageSize]="2"
    [pageSizeOptions]="[2, 4, 6, 8]"
    [sortDirection]="'desc'"
    (rowClick)="onRowClick($event)"
    [showFilters]="showFilters">
    @if (showCustomIcons) {
      <ng-template mdtSetColumnFilterIcon>
        <mat-icon svgIcon="custom:filter"></mat-icon>
      </ng-template>
      <ng-template mdtResetFilterIcon>
        <mat-icon svgIcon="custom:hatch-filter"></mat-icon>
      </ng-template>
    }
  </mdt-dynamic-table>
</div>

<div class="buttons">
  <button mat-button (click)="toggleShowSearch()">{{showSearch ? 'Hide' : 'Show'}} search</button>
  <button mat-button (click)="toggleShowFilters()">{{showFilters ? 'Hide' : 'Show'}} filters</button>
  <button mat-button [disabled]="!showFilters" (click)="clearFilters()">Clear filters</button>
  <button mat-button [disabled]="!showFilters" (click)="setFilter()">Set filter</button>
  <button mat-button [disabled]="!showFilters" (click)="toggleIcons()">Toggle icons</button>
  <button mat-button (click)="toggleLocale()">Change moment locale (currently set to '{{locale | async}}')</button>
</div>

<div style="position: absolute; bottom: 0">
  <em>Attribution: <a title="An icon for 'filter' from the Lines and Angles series on to [icon]. Downloaded from http://www.toicon.com/icons/lines-and-angles_filter by 127.0.0.1 on 2017-07-10. Licensed CC-BY, see http://toicon.com/license/ for details." href="http://www.toicon.com/">Shannon E Thomas/toicon.com</a></em>
</div>

